.ProfileInfoWrapper{
  display: flex;
  gap: 29px;
}
.ProfileInfoWrapper img{
  /* max-height: 124px; */
  max-width: 100px;
  border-radius: 50%;
  object-fit: cover;

}
.ProfileFollowerSection{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ProfileFollowerSection p:first-child{
  font-weight: 500;
}
.ProfileFollowerSection p{
  font-weight: 100;
}
.ProfileFollowning{
  align-items: center;
  border-right: 1px solid #ddd;
  padding-right: 24px;
}
.ProfileFollower{
  padding-left: 24px;
  border-left: 1px solid #ddd;
}


/* Vertical Profile */

.VerticalProfile{
  flex-direction: column;
  align-items: center;
}