.wrapper {
  display: flex;
  gap: 4px;
  align-items: center;
  width: 100%;
}

.fullWidth {
  flex: 1;
}

.btnColor {
  --bg-color: #5d3ede4d;
  --text-color: var(--main-bg-color_dark);
  margin-bottom: 15px;
}
