.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 28px 20px;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userName {
  font-size: 1.5rem;
}

.buttonsWrapper {
  display: flex;
  gap: 20px;
}

.tabsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
}

.navButton {
  border: none;
  background: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: var(--font-weight, 100);
  color: var(--color, #747688);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.navButtonActive {
  --font-weight: 500;
  --color: var(--main-bg-color_dark);
}

.navButtonActive::after {
  content: '';
  height: 4px;
  background-color: var(--main-bg-color_dark);
  /* padding-top: 8px; */
  width: calc(100% - 4px);
}

.aboutToping {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aboutHeading {
  font-size: 1.125rem;
}

.aboutMeText {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5rem;
}
