.logo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  color: #5D3EDE;
}
.logo-container h1 span{
  color: #00ECAA;
}
.logo-container h1{
  font-weight: 500;

}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 0 29px 0;
}
.form-container h2{
    font-size: 24px;
    /* padding-bottom: 20px; */
    font-weight: 500;
}

.inputDiv {
  display: flex;
  flex-shrink: 0;
  padding: 15px 10px;
  margin: 15px 0;
  border:0;
  border-radius: 10px;
  box-shadow: 0px 8px 30px 0px rgba(93, 62, 222, 0.10);
  color:--10 #848484d8 ;
}
.inputDiv :placeholder-shown{
  font-weight: 100;
}


.inputDiv img {
  margin-right: 10px;
}
.inputDiv a {
  margin-left: auto;
}

input {
  border: 0px;
}

.formulaPage-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button-container{
  margin-top: auto;
  padding: 0 52px 0 52px;
}
.switch-container{
  margin-top: 20px;
  margin-bottom: 38px;
  text-align: center;
  font-weight: 100;
}
