.filterBarWraper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 300px;
}
.filterBarWraper svg {
  padding-right: 3px;
}
.filterBarWraper p {
  font-weight: 100;
}
.buttonWrapper {
  --_bg-color: var(--bg-color, #876afd);
  --_text-color: var(--text-color, #fff);
  display: flex;
  align-items: center;
  background-color: var(--_bg-color);
  border-radius: 5px;
  padding: 10px;
  gap: 8px;
  /* justify-content: space-evenly; */
  border: none;
}

.buttonWrapper p {
  color: var(--_text-color);
}

.active {
  --bg-color: #00ecaa;
  --text-color: #1f1f1f;
}

/* .artWrapper {
  display: flex;
  align-items: center;
  background-color: #876afd;
  border-radius: 5px;
  padding: 10px;
  justify-content: space-evenly;
}
.artWrapper p {
  color: #fff;
}

.sportsWrapper {
  display: flex;
  align-items: center;
  background-color: #876afd;
  border-radius: 5px;
  padding: 10px;
  justify-content: space-evenly;
}
.sportsWrapper p {
  color: #fff;
}

.foodWrapper {
  display: flex;
  align-items: center;
  background-color: #876afd;
  border-radius: 5px;
  padding: 10px;
  justify-content: space-evenly;
  color: #fff;
}
.foodWrapper p {
  color: #fff;
} */
