.searchBarWrapper {
  display: flex;
  font-size: 1.25rem;
  background-color: #5d3ede;
  padding: 10px;
}
.searchBarWrapper svg {
  margin: 5px;
}
.searchBarWrapper input {
  font-size: 1.25rem;
  font-weight: 100;
  color: #fff;
  border-left: 1px solid #876afd;
  padding-left: 10px;
}
