:root {
  --main-bg-color_dark: #5d3ede;
  --main-bg-color_light: #876afd;
  --sec-bg-color: #00ecaa;
  --main-font-color: #120d26;
  --sec-font-color: #f4f4fe;
  --contrast-font-color: #668be9;
}
@font-face {
  font-family: 'Inter';
  src: url("./assets/fonts/InterVariableFont.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

