:root {
  --main-bg-color_dark: #5D3EDE;
  --main-bg-color_light: #876AFD;
  --sec-bg-color: #00ECAA;
  --main-font-color: #120D26;
  --sec-font-color: #F4F4FE;
  --contrast-font-color: #668BE9;
}
@font-face {
  font-family: 'Inter';
  src: url("./assets/fonts/InterVariableFont.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

