.button {
  --_bg-color: var(--bg-color, #ffffff4d);
  background: none;
  border: none;
  cursor: pointer;
  background-color: var(--_bg-color);
  padding-inline: 12px;
  aspect-ratio: 1;
  border-radius: 8px;
}

.darkOpacity {
  --bg-color: #ffffffb2;
  opacity: 0.5;
}
